<link rel="stylesheet" href="~/css/StyleSheet.css" />
<div class="form-structor">
	<div class="signup">
		<h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
		<div class="form-holder">
			<input type="text" class="input" placeholder="Name" />
			<input type="email" class="input" placeholder="Email" />
			<input type="password" class="input" placeholder="Password" />
		</div>
		<button class="submit-btn">Sign up</button>
	</div>
	<div class="login slide-up" style="top:450px">
		<div class="center" style="top: -25px;">
			<div>
				<span >or</span>
			</div>
			<div class="center" style="top: 21px;">
				<form asp-controller="Deployment" asp-action="LoginPage" method="get">
					<button type="submit" class="btn btn-link" id="login-button" style="box-shadow: 0 0 0 .25rem rgba(0,0,0,0);">Log in</button>
				</form>

				@* <button type="submit" class="btn btn-link" id="login-button" style="box-shadow: 0 0 0 .25rem rgba(0,0,0,0);">
					Log in
				</button> *@
			</div>
				
			
		</div>
	</div>

	</div>
	
